@import "tailwindcss";
@font-face {
  font-family: "Trustpilot Default Regular";
  src: url("/fonts/trustpilot-default-font-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trustpilot Default Medium";
  src: url("/fonts/trustpilot-default-font-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trustpilot Default Bold";
  src: url("/fonts/trustpilot-default-font-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trustpilot Display ExtraBlack";
  src: url("/fonts/trustpilot-display-extrablack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Custom Font 4UaRrENH";
  src: url("/fonts/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCIhM907w.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --background: #ffffff;
  --foreground: #121511;
  --outline: #3c56bd;
  --outline-hover: #4c69d3;
  --font-trustpilot-regular: "Trustpilot Default Regular", Arial, Helvetica,
    sans-serif;
  --font-trustpilot-medium: "Trustpilot Default Medium", Arial, Helvetica,
    sans-serif;
  --font-trustpilot-bold: "Trustpilot Default Bold", Arial, Helvetica,
    sans-serif;
  --font-trustpilot-extrablack: "Trustpilot Display ExtraBlack", Arial,
    Helvetica, sans-serif;
}
.font-extrabold {
  font-family: var(--font-trustpilot-extrablack);
}
.font-normal {
  font-family: var(--font-trustpilot-regular);
}

.font-medium {
  font-family: var(--font-trustpilot-medium);
}

.font-bold {
  font-family: var(--font-trustpilot-bold);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-trustpilot-regular);
}

/*
  Usage:
  font-family: var(--font-trustpilot-regular); // 400
  font-family: var(--font-trustpilot-medium);  // 500
  font-family: var(--font-trustpilot-bold);    // 700
  font-family: var(--font-trustpilot-extrablack); // 900
*/

@keyframes shape-move {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) rotate(0deg);
  }
  50% {
    transform: matrix(1, 0.2, 0.2, 1, 30, 30) rotate(180deg);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) rotate(360deg);
  }
}
@keyframes shape-move-square {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) rotate(0deg);
  }
  50% {
    transform: matrix(1, -0.2, 0.2, 1, -30, 30) rotate(180deg);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) rotate(360deg);
  }
}
@keyframes shape-move-triangle {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) rotate(0deg);
  }
  50% {
    transform: matrix(1, 0.2, -0.2, 1, 30, -30) rotate(180deg);
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) rotate(360deg);
  }
}

.animate-shape-move {
  animation: shape-move 8s infinite linear;
}
.animate-shape-move-square {
  animation: shape-move-square 10s infinite linear;
}
.animate-shape-move-triangle {
  animation: shape-move-triangle 12s infinite linear;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
